body {
    padding: 0px;
    margin: 0px;
    /* background-color: rgb(230, 91, 137); */
    background-color: rgb(243, 93, 76);
    height: 100vh;
}

#navbar{
    background-color: salmon;
    /* background-color: rgb(250, 128, 114); --> salmon rgb */
}


.navbar-toggler-icon{
    /* background-color: rgb(243, 160, 6); */
    color: rgb(243, 160, 6);
    border: 3px solid;
    border-color: rgb(243, 160, 6);
}

.navbar-toggler{
    background-color: rgb(252, 222, 92);
    color: rgb(252, 222, 92);
    border: 1px solid;
    border-color: rgb(252, 222, 92);
}

#nav-linkA{
    padding-left: 12px;
    padding-right: 12px;
    color: rgb(252, 222, 92);
}

#adminHeader{
    color: rgb(252, 222, 92);
    text-align: center;
    margin: 0px auto;
}


.container{
    text-align: center;
    position: relative;
    top: -150px;
    margin: 0px auto;
}

.form-control{
    text-align: center;
    margin: 0px auto;
}

.edit{
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

.edit:active {
    color: black;
}

/* .form-group{
    text-align: center;
    margin: 0px auto;
} */

#text1{
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 12px;
    padding-bottom: 12px;
    font-family: 'KG Summer Sunshine Shadow';
    /* background-color: rgb(230, 91, 137); */
    /* background-color: rgb(243, 93, 76); */
    font-size: 24px;
    color: rgb(252, 222, 92);
}

#text{
    padding-left: 12px;
    padding-right: 12px;
    /* background-color: rgb(230, 91, 137); */
    /* background-color: rgb(243, 93, 76); */
    color: rgb(252, 222, 92);
}

#updateSuccess{
    text-align: center;
    color: rgb(252, 222, 92);
}

#background-image{
    position: relative;
    padding: 0;
    margin: 0;
    overflow: hidden;
    height: 400px;
    background-image: url(../images/sandBackground.jpg);
    background-repeat: no-repeat;
    background-size: 100% 400px;
    background-position: top center;
    background-attachment: fixed;
}

#image-1{
    position: absolute;
    width: 100%;
    height: 350px;
    background-image: url(../images/mobileStore.jpg);
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: auto 200px;
    top: -100px;
    left: -25px;
}

#image-2{
    position: absolute;
    width: 100%;
    height: 300px;
    margin-left: 500px;
    background-image: url(../images/yellowStore.jpg);
    background-repeat: no-repeat;
    background-size: 50% 200px;
    /* top: 15%; */
    margin-top: 50px;
}

.FP{
    font-family: 'Pacifico';
    /* font-family: 'KG Summer Sunshine'; */
    /* font-family: 'SaltyBeach'; */
    font-size: 100px;
    /* display: block; */
    position: relative;
    top: -300px;
    text-align: center;
    background-color: rgba( 250, 128, 114, .75);
    color: rgb(252, 222, 92);
}

.FP2{
    font-family: 'Pacifico';
    /* font-family: 'KG Summer Sunshine'; */
    /* font-family: 'SaltyBeach'; */
    font-size: 100px;
    /* display: block; */
    position: relative;
    top: -350px;
    text-align: center;
    background-color: rgba( 250, 128, 114, .75);
    color: rgb(252, 222, 92);
}

.FPA{
    font-family: 'Pacifico';
    /* font-family: 'KG Summer Sunshine'; */
    /* font-family: 'SaltyBeach'; */
    font-size: 100px;
    /* display: block; */
    position: relative;
    top: -320px;
    text-align: center;
    background-color: rgba( 250, 128, 114, .75);
    color: rgb(252, 222, 92);
}

.FPD{
    font-family: 'Pacifico';
    /* font-family: 'KG Summer Sunshine'; */
    /* font-family: 'SaltyBeach'; */
    font-size: 100px;
    /* display: block; */
    position: relative;
    top: -320px;
    text-align: center;
    background-color: rgba( 250, 128, 114, .75);
    color: rgb(252, 222, 92);
}

#backBtn{
    position: relative;
    top: -180px;
    text-align: center;
}

#backBtnA{
    position: relative;
    top: -180px;
    text-align: center;
}

#backBtnD{
    position: relative;
    top: -180px;
    text-align: center;
}

#backBtn1{
    text-align: center;
}

.card{
    margin-top: 22px;
}

.card-img-top{
    width: auto;
    height: 200px;
}

.modalTitle{
    margin: 0 auto;
    text-align: center;
}

#images{
    margin: 0 auto;
    height: 200px;
    width: auto;
}

#footer{
    margin-top: 50px;
    background-color: salmon;
    color: rgb(252, 222, 92);
}

img.details{
    width: 350px;
    height: 350px;
    margin: 15px auto;
}

#PD{
    margin-top: 10px;
}

#quantity-label{
    display: inline-block;
}

#size-label{
    display: inline-block;
}

#quantity{
    width: 100px;
    display: inline;
}

#size{
    width: 100px;
    margin-left: 30px;
    display: inline;

}

/* .btn-sample { 
    color: rgb(252, 222, 92); 
    background-color: #F76666; 
    border-color: #E35D5D; 
  } 
   
  .btn-sample:hover, 
  .btn-sample:focus, 
  .btn-sample:active, 
  .btn-sample.active, 
  .open .dropdown-toggle.btn-sample { 
    color: rgb(252, 222, 92); 
    background-color: #ED6363; 
    border-color: #E35D5D; 
  } 
   
  .btn-sample:active, 
  .btn-sample.active, 
  .open .dropdown-toggle.btn-sample { 
    background-image: none; 
  } 
   
  .btn-sample.disabled, 
  .btn-sample[disabled], 
  fieldset[disabled] .btn-sample, 
  .btn-sample.disabled:hover, 
  .btn-sample[disabled]:hover, 
  fieldset[disabled] .btn-sample:hover, 
  .btn-sample.disabled:focus, 
  .btn-sample[disabled]:focus, 
  fieldset[disabled] .btn-sample:focus, 
  .btn-sample.disabled:active, 
  .btn-sample[disabled]:active, 
  fieldset[disabled] .btn-sample:active, 
  .btn-sample.disabled.active, 
  .btn-sample[disabled].active, 
  fieldset[disabled] .btn-sample.active { 
    background-color: #F76666; 
    border-color: #E35D5D; 
  } 
   
  .btn-sample .badge { 
    color: #F76666; 
    color: rgb(252, 222, 92); 
  } */

  .btn-sample { 
    color: rgb(252, 222, 92); 
    background-color: #FA8072; 
    border-color: #FC6D5D; 
  } 
   
  .btn-sample:hover, 
  .btn-sample:focus, 
  .btn-sample:active, 
  .btn-sample.active, 
  .open .dropdown-toggle.btn-sample { 
    color: rgb(252, 222, 92); 
    background-color: #EB776A; 
    border-color: #FC6D5D; 
  } 
   
  .btn-sample:active, 
  .btn-sample.active, 
  .open .dropdown-toggle.btn-sample { 
    background-image: none; 
  } 
   
  .btn-sample.disabled, 
  .btn-sample[disabled], 
  fieldset[disabled] .btn-sample, 
  .btn-sample.disabled:hover, 
  .btn-sample[disabled]:hover, 
  fieldset[disabled] .btn-sample:hover, 
  .btn-sample.disabled:focus, 
  .btn-sample[disabled]:focus, 
  fieldset[disabled] .btn-sample:focus, 
  .btn-sample.disabled:active, 
  .btn-sample[disabled]:active, 
  fieldset[disabled] .btn-sample:active, 
  .btn-sample.disabled.active, 
  .btn-sample[disabled].active, 
  fieldset[disabled] .btn-sample.active { 
    background-color: #FA8072; 
    border-color: #FC6D5D; 
  } 
   
  .btn-sample .badge { 
    color: #FA8072; 
    background-color: rgb(252, 222, 92); 
  }

  .addProduct {
      border: 3px solid white;
      text-align: center;
      cursor: pointer;
  }
  .addProduct h4 {
      color: #FA8072;
  }
  #plus {
      color: #FA8072;
      font-size: 100px;
  }
.addProduct:active h3 {
    color: rgb(252, 222, 92);
}
#plus:active {
    color: rgb(252, 222, 92);
    font-size: 100px;
}
